@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 1160px;
    font-family: "Rubik", "Verdana", sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: #FFFFFF;
    color: #000000;
}

.page-header {
    padding-top: 20px;
}

.header-wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    width: 1160px;
}

.header-logo-wrapper {
    padding: 0px 60px;
    width: 1040px;
    background-image: linear-gradient(180deg, #ffffff 20px, #FFE17F 20px);
}

.user-menu-wrapper {
    display: grid;
    grid-template-columns: 540px 500px;
    align-items: center;
    padding: 14px 60px;
    width: 1040px;
    background-color: #FFE17F;
}

.search-form {
    display: flex;
    width: 516px;
}

.search-field {
    box-sizing: border-box;
    padding: 14px 38px;
    height: 40px;
    border: 3px solid #000000;
    border-right: 0px;
    border-radius: 100px 0 0 100px;
    width: 359px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    background-color: transparent;
    background-image: url(../images/header-search.svg);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left center;
    outline: 0;
}

.search-button {
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 0 100px 100px 0;
    width: 160px;
    height: 40px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    background-color: transparent;
}

.user-menu {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    font-size: 18px;
    line-height: 30px;
}

.user-login-icon {
    background-image: url(../images/header-user.svg);
    background-size: 13px 12px;
    padding-left: 24px;
    background-repeat: no-repeat;
    background-position: 0 50%;
    color: inherit;
}

.user-compare-icon {
    background-image: url(../images/header-compare.svg);
    background-size: 10px 12px;
    padding-left: 24px;
    background-repeat: no-repeat;
    background-position: 0 50%;
    color: inherit;
}

.user-basket-icon {
    background-image: url(../images/header-basket.svg);
    background-size: 16px 14px;
    padding-left: 24px;
    background-repeat: no-repeat;
    background-position: 0 50%;
    color: inherit;
}

.list-user-menu {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
}

.list-user-menu-registration {
    display: grid;
    column-gap: 42px;
    grid-template-columns: repeat(2, max-content);
    margin: 0;
    padding-left: 0;
    justify-content: end;
    align-items: center;
}

.navigation-link {
    text-decoration: none;
    color: #000000;
}

.navigation {
    margin: 0 auto;
    padding-top: 18px;
    padding-left: 60px;
    padding-right: 60px;
    color: #000000;
    background-color: #FFE17F;
    width: 1040px;
}

.navigation-catalog {
    padding-bottom: 36px;
}

.navigation-list-user-menu {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 42px;
    align-items: center;
    justify-content: end;
    margin: 0;
    padding-left: 0;
}

.navigation-menu {
    display: grid;
    grid-template-columns: 560px repeat(2, 148px) 128px;
    column-gap: 20px;
    margin: 0px;
    padding-left: 0px;
    width: 1160px;
}

.navigation-link-catalog {
    text-decoration: none;
    color: #000000;
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding-bottom: 15px;
    padding-top: 15px;
}

.navigation-link-catalog-main {
    width: 560px;
    padding-right: 55px;
    background-image: url(../images/header-plus.svg);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center right;

}

.navigation-menu-item {
    position: relative;
    padding-bottom: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style-type: none;
}

.number-one {
    font-weight: bold;
    font-size: 180px;
    color: #FFFFFF;
    text-align: right;
}

.container {
    box-sizing: border-box;
    width: 1440px;
    margin: 0 auto;
}

.main-container {
    flex-grow: 1;
}

.gallery {
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    width: 1100px;
    background-image: linear-gradient(180deg, #FFE17F 148px, #ffffff 114px);
}

.slider-pagination,
.slider-button,
.slider-pagination-button {
    padding: 0;
    margin: 0;
    border: 0;
}

.slider-button {
    width: 0;
}

.quadrocopter-tagline {
    display: block;
    margin-bottom: 29px;
}

.gallery-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.gallery-slider {
    display: flex;
    justify-content: space-between;
}

.quadrocopter-advantages {
    width: 560px;
    margin-left: 40px;
    padding-top: 100px;
    margin-right: 0px;
}

.quadrocopter-advantages b {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.quadrocopter-desrciption {
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    color: #444444;
    display: block;
    margin-bottom: 61px;
}

.button-details {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 59px;
    z-index: 0;
    display: inline-block;
    padding: 11px 20px;
    min-width: 180px;
    vertical-align: middle;
    text-align: center;
    background-color: transparent;
}

/* .button-details::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 8px;
    background-color: #FFE17F;
    transition: height .3s ease-in-out;
    width: 100%;
} */

.table-value {
    font-weight: normal;
    font-size: 36px;
    line-height: 30px;
}

.table-value td {
    padding-right: 58px;
}

.table-name {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #444444;
}

.table-name td {
    padding-right: 20px;
}

.category-link {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #000000;
    text-decoration: none;
}

.category-image,
.delivery-icon {
    margin: auto;
}

.category-link {
    display: block;
    height: 60px;
}

.category {
    width: 160px;
}

.category-item {
    height: 160px;
    background: #FFE17F;
    display: flex;
    justify-content: center;
    margin-bottom: 33px;
}

.category-list {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
    padding-top: 70px;
    margin-bottom: 70px;
}

.advantages {
    background-image: linear-gradient(180deg,#ffffff 115px,#F0F0F0 115px);
}

.advantages-wrapper {
    margin-bottom: 30px;
    padding-bottom: 67px;
    display: grid;
    grid-template-columns: 284px 800px;
    column-gap: 76px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 1160px;
}

.services-wrapper {
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 20px;
    box-sizing: border-box;
    border-right: 7px solid #000;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 284px;
}

.advantages-title {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.advantages-button-current {
    width: 280px;
    background: #000000;
    text-align: left;
    height: 40px;
    color: #FFE17F;
}

.advantages-button-current::after {
    content: "";
    position: absolute;
    top: 0;
    right: -117px;
    width: 117px;
    background-color: #000000;
    transition: width .3s ease-in-out;
}

.advantages-button::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 8px;
    background-color: #f0c52e;
    transition: height .3s ease-in-out;
}

.advantages-button {
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    border: 0;
    padding: 9px 20px;
    width: 160px;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.service-desrciption {
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.services-info {
    width: 580px;
}

.services-title {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin-top: 40px;
    margin-bottom: 40px
} 

.service-list-item {
    position: relative;
    padding: 30px 40px;
}

.service-list-item::after {
    background-image: url(../images/main-running-man.svg);
    background-size: 136px 164px;
    content: "";
    position: absolute;
    top: 52px;
    right: -30px;
    width: 180px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

.delivery-information {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    width: 1160px;
    height: 100px;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 40px 140px;
}

.delivery-image {
    background: #FFE17F;
    height: 100px;
    width: 125px;
    text-align: center;
    display: flex;
}

.delivery-desrciption {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background: #F0F0F0;
    height: 100px;
    width: 1035px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-company {
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 140px;
    width: 1160px;
}

.about {
    width: 520px;
}

.contacts {
    width: 532px;
}

.about-title,
.contacts-title {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 48px;
}

.contacts-phone {
    color: #000000;
}

.contacts-address {
    margin-bottom: 30px;
}

.contacts-adress-text {
    margin-bottom: 0;
}

.about-text,
.about-companies,
.contacts-information,
.contacts-adress-text,
.contacts-schedule-item {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.about-text,
.about-companies,
.contacts-information {
    margin-bottom: 30px;
}

.companies-list {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #FFE17F;
    margin-bottom: 40px;
}

.company-item {
    color: #000000;
}

.contacts-schedule {
    margin-bottom: 40px;
}

.transport-company {
    margin-bottom: 20px;
}

.newsletter {
    background: #F0F0F0;
    width: 1440px;
    padding: 0;
}

.horizontal-line {
    margin-bottom: 40px;
}

.subscription {
    display: flex;
    margin: 0 auto;
    height: 420px;
    width: 1440px;
}

.newsletter-text {
    width: 560px;
    margin-right: 133px;
    margin-top: 74px;
    width: 560px;
    height: 90px;
    display: block;
}

.newsletter-button {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.send-letter {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 140px;
}

.free-of-charge {
    margin-bottom: 70px;
}

.page-footer-title {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    width: 600px;
    margin-left: 147px;
    margin-top: 64px;
}

.page-footer {
    background: #444444;
    width: 1440px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.footer-contacts-address {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    width: 234px;
    margin-bottom: 64px;
}

.footer-contacts-logo {
    margin-top: 62px;
    margin-left: 140px;
    margin-bottom: 35px;
}

.footer-social-list {
    display: flex;
    justify-content: space-between;
    width: 150px;
    padding: 0;
    margin: 0 auto;
}

.footer-contacts-list {
    display: flex;
    justify-content: space-between;
    width: 444px;
    padding: 0;
    margin: 0 auto;
}

.footer-contacts-link {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-container-first,
.footer-container-second {
    display: flex;
    justify-content: space-between;
    padding: 0 141px;
}

.button-about,
.button-feedback {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.footer-phone {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.control-input,
.control-input {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.button-filter {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.breadcrumbs {
    display: flex;
    width: 432px;
    justify-content: space-between;
    padding-left: 200px;
    margin-bottom: 35px;
}

.breadcrumbs-link {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

.filter {
    box-sizing: border-box;
    padding: 70px 68px 70px 60px;
    width: 328px;
}

.slider {
    appearance: none;
    width: 200px;
    background: #000000;
    outline: none;
}

.inner-header-title {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    padding-left: 200px;
}

.catalog-container {
    display: flex;
    padding: 0px;
    width: 1440px;
    background: #F0F0F0;
}

.sorting {
    width: 800px;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
}

.catalog-products-filter,
.sorting-title {
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.select-control {
    background: #F0F0F0;
    width: 110px;
    height: 30px;
    margin-top: 20px;
}

.product-list {
    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
    padding: 70px 40px 44px 40px;
    width: 840px;
    column-gap: 40px;
    row-gap: 28px;
    margin: 0 0 20px;
}

.product-list-container {
    background: #FFFFFF;
    padding-bottom: 78px;
}

.product-card {
    display: grid;
    grid-template-rows: 380px min-content;
    row-gap: 10px;
    width: 360px;
    min-height: 452px;
}

.product-card-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
}

.product-card-description {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 20px;
    padding-bottom: 20px;
}

.product-card-link,
.pagination-show-more,
.pagination-link {
    text-decoration: none;
}

.show-more {
    border: #F0F0F0 solid;
    width: 760px;
    margin: 0px 40px 40px 40px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination {
    display: grid;
    grid-template-columns: 120px 1fr 120px;
    min-height: 70px;
    background: #F0F0F0;
    margin-left: 40px;
    margin-right: 40px;
}

.pagination-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 490px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #444444;
}

.pagination-item {
    margin-left: 15px;
    margin-right: 15px;
}

.pagination-show-more {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    display: block;
}

.pagination-link {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #444444;
}

.pagination-prev,
.pagination-next {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}