@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2 format") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "Rubik", "Verdana", sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: #FFFFFF;
    color: #000000;
}

.visually-hidden {
    display: none;
}

.list {
    list-style-type: none;
} 

.page-header {
    color: #000000;
    background: #FFE17F;
}

.navigation-link {
    color: #000000;
    line-height: 18px;
    line-height: 30px;
    text-decoration: none;
}

.basket {
    line-height: 14px;
    line-height: 16.59px;
}

.navigation-link-second {
    font-family: "Raleway", "Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.number-one {
    font-weight: bold;
    font-size: 180px;
    line-height: 30px;
    color: #FFFFFF;
    align-items: center;
    text-align: right;
}

.quadrocopter-advantages b {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.quadrocopter-desrciption {
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    color: #444444;
}

.quadrocopter-details {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
}

.table-value {
    font-weight: normal;
    font-size: 36px;
    line-height: 30px;
}

.table-name {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #444444;
}

.category-link {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #000000;
    text-decoration: none;
}

.category-image {
    margin: auto;
}

.category-item {
    height: 160px;
    width: 160px;
    background: #FFE17F;
    text-align: center;
    display: flex;
}

.category-list {
    display: flex;
    justify-content: space-between;
}

.category {
    width: 160px;
    text-align: center;
}

.advantages {
    background: #F0F0F0;
}

.advantages-title {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.advantages-desrciption {
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.advantages-delivery {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;

}

.delivery-image {
    background: #FFE17F;
    text-align: center;
    height: 100px;
    width: 125px;
}

.delivery-desrciption {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background: #F0F0F0;
}

.about-title,
.contacts-title {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.about-text,
.about-companies,
.contacts-information,
.contacts-adress-text,
.contacts-schedule-item {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.companies-list {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.newsletter {
    background: #F0F0F0;
}

.page-footer-title {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.page-footer {
    background: #444444;
}

.footer-contacts-address {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.footer-contacts-link {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.button-about,
.button-feedback {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-phone {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.control-input,
.control-input {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.button-filter {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.breadcrumbs-link {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

.catalog-products,
.sorting {
    background: #F0F0F0;
}

.product-card-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
}

.product-card-link,
.pagination-show-more,
.pagination-link {
    text-decoration: none;
}

.show-more {
    border: #F0F0F0 solid;
}

.pagination-show-more {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    display: block;
}

.pagination-sector {
    background: #EBEBEB;
}

.pagination-link {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #444444;
}

.pagination-prev,
.pagination-next {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}