@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 1160px;
    font-family: "Rubik", "Verdana", sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: #FFFFFF;
    color: #000000;
}

/* Header */
/* -Logo */

.page-header {
    padding-top: 20px;
}

.header-wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    width: 1160px;
}

.header-logo-wrapper {
    padding: 0px 60px;
    background-image: linear-gradient(180deg, #ffffff 20px, #FFE17F 20px);
}

.header-logo:hover .header-logo-image {
    opacity: 0.6;
}

.header-logo:active .header-logo-image {
    opacity: 0.3;
}

.header-logo:focus .header-logo-image {
    outline: 2px solid #AF4FFF;
}

/* -User menu */

.user-menu-wrapper {
    display: grid;
    grid-template-columns: 540px 500px;
    column-gap: 20px;
    align-items: center;
    padding: 0px 60px 14px 60px;
    background-color: #FFE17F;
}

.search-form {
    display: flex;
    width: 516px;
}

.search-field {
    box-sizing: border-box;
    padding: 14px 38px;
    height: 40px;
    border: 3px solid #000000;
    border-right: 0px;
    border-radius: 100px 0 0 100px;
    width: 359px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    background-color: transparent;
    background-image: url(../images/header-search.svg);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 16px center;
    outline: 0;
}

.search-field:active.search-field::placeholder {
    color: #000000;
    opacity: 1;
}

.search-form:focus {
    outline: 2px solid #AF4FFF;
}

.search-field:disabled {
    opacity: 0.3;
}

.search-button {
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 0 100px 100px 0;
    width: 160px;
    height: 40px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    background-color: transparent;
}

.search-button:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.search-button:active {
    background-color: #000000;
    color: #FFFFFF;
    opacity: 0.6;
}

.search-button:focus {
    outline: 2px solid #AF4FFF;
}

.user-menu {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    font-size: 18px;
    line-height: 30px;
}

.user-login-icon {
    background-image: url(../images/header-user.svg);
    background-size: 13px 12px;
    padding-left: 24px;
    background-repeat: no-repeat;
    background-position: 0 50%;
    color: inherit;
}

.user-compare-icon {
    background-image: url(../images/header-compare.svg);
    background-size: 10px 12px;
    padding-left: 24px;
    background-repeat: no-repeat;
    background-position: 0 50%;
    color: inherit;
}

.user-basket-icon {
    background-image: url(../images/header-basket.svg);
    background-size: 16px 14px;
    padding-left: 24px;
    background-repeat: no-repeat;
    background-position: 0 50%;
    color: inherit;
    position: relative;
}

.basket-amount {
    display: inline-block;
    background-color: #FFFFFF;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    padding: 0 5px 0 5px;
    position: absolute;
    top: 20%;
    left: -10px;
}

/* Popover-basket */

.popover {
    width: 320px;
    color: #FFFFFF;
    background-color: #000000;
    min-height: 200px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    top: 60px;
    right: -78px;
    z-index: 1;
    box-sizing: border-box;
}

.popover-cart-open {
    display: none;
}

.popover:after {
    content: '';
    background-image: url("../images/tooltip-arrow.svg");
    width: 14px;
    height: 6px;
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.navigation-item-user {
    position: relative;
    padding: 20px 0;
}

.navigation-item-user:hover .popover-cart-open,
.navigation-item-user:focus .popover-cart-open {
    display: block;
}

.cart-item:hover {
    opacity: 0.6;
}

.cart-item:active {
    opacity: 0.3;
}

.cart-item:focus {
    outline: 2px solid #AF4FFF;
}

.delete-button:hover {
    opacity: 0.6;
}

.delete-button:active {
    opacity: 0.3;
}

.delete-button:focus {
    outline: 2px solid #AF4FFF;
}

.popover-close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 72px;
    height: 70px;
}

.popover-content {
    height: 100%;
}

.cart-items-list {
    padding: 0;
}

.cart-item-title {
    margin: 0;
    text-decoration: none;
    color: #FFFFFF;
}

.cart-item {
    display: grid;
    grid-template-columns: 60px 180px 40px;
    padding: 20px;
}

.order-information-list {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1A1A1A;
}

.open-basket-link {
    text-decoration: none;
    color: #000000;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.delete-button {
    width: 10px;
    height: 10px;
    background-color: #000000;
    border: none;
    cursor: pointer;
    background-image: url("../images/delete.svg");
    background-position: right;
    background-repeat: no-repeat;
    padding: 0;
    margin-left: 30px;
}

.button-basket {
    background-color: #FFFFFF;
    padding-top: 14px;
    padding-bottom: 14px;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.button-basket:hover {
    background: #FFE17F;
}

.button-basket:active .open-basket-link {
    opacity: 0.3;
}

.button-basket:focus {
    background: #FFFFFF;
    outline: 2px solid #AF4FFF;
}

.user-menu-list {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    padding: 0;
}

.user-menu-item {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    margin: 0;
    padding-left: 0;
    justify-content: end;
    align-items: center;
}

.user-menu-registration-list {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 28px;
    align-items: center;
    margin: 0;
    padding-left: 0;
}

/* -Navigation-menu */

.navigation-link {
    text-decoration: none;
    color: #000000;
}

.navigation-link:hover {
    opacity: 0.6;
}

.navigation-link:active {
    opacity: 0.3;
}

.navigation-link:focus {
    outline: 2px solid #AF4FFF;
}

.navigation {
    padding: 20px 60px 36px 60px;
    background-color: #FFE17F;
}

.navigation-list-user-menu {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 42px;
    align-items: center;
    justify-content: end;
    margin: 0;
    padding-left: 0;
}

.navigation-menu {
    display: grid;
    grid-template-columns: 560px repeat(2, 148px) 128px;
    column-gap: 20px;
    margin: 0px;
    padding-left: 0px;
    position: relative;
}

.navigation-link-catalog {
    text-decoration: none;
    color: #000000;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding-bottom: 15px;
    padding-top: 15px;
}

.hidden-main-menu {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    column-gap: 30px;
    box-sizing: border-box;
    padding: 18px 60px 27px 0;
    position: absolute;
    z-index: 10;
    width: 1160px;
    left: -60px;
    visibility: hidden;
    transform: translateY(15px);
    background: #FFE17F;
    line-height: 18px;
}

.hidden-main-menu-item {
    height: 120px;
    padding-bottom: 28px;
}

.hidden-menu-list {
    display: grid;
    margin: 0;
    padding-left: 60px;
    row-gap: 30px;
}

.hidden-menu-link {
    text-decoration: none;
    color: #000000;
}

.navigation-menu-item:hover .hidden-main-menu {
    visibility: visible;
}

.navigation-menu-item:focus-within .hidden-main-menu {
    visibility: visible;
}

.hidden-menu-link:hover {
    opacity: 0.6;
}

.hidden-menu-link:active {
    opacity: 0.3;
}

.hidden-menu-link:focus {
    outline: 2px solid #AF4FFF;
}

.navigation-link-catalog-main {
    width: 560px;
    padding-right: 75px;
    background-image: url(../images/header-plus.svg);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center right;
}

.navigation-link-catalog-main:hover {
    background-image: url(../images/header-minus.svg);
}

.navigation-menu-item {
    position: relative;
}

/* Main-index */

.main-container {
    flex-grow: 1;
}

/* -Slider-gallery */

.gallery-wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    width: 1160px;
}

.gallery {
    position: relative;
    background-image: linear-gradient(180deg, #FFE17F 148px, #ffffff 114px);
    padding-left: 30px;
    padding-bottom: 30px;
    margin-bottom: 58px;
}

.number-one {
    font-weight: bold;
    font-size: 180px;
    color: #FFFFFF;
    align-items: center;
    height: 135px;
    width: 520px;
    display: flex;
    justify-content: end;
    position: absolute;
    z-index: -1;
}

.gallery-container {
    position: relative;
}

.slider-pagination-list {
    display: grid;
    counter-reset: slide;
    margin: 0;
    padding-left: 0;
}

.slider-pagination-item {
    display: grid;
    grid-template-columns: 560px 560px;
    position: relative;
    z-index: 0;
    grid-column-start: 1;
    grid-row-start: 1;
}

.slider-pagination-list-item {
    display: none;
}

.slider-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: block;
}

.slider-controls {
    position: absolute;
    top: 42%;
    width: 520px;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}

.button-slider {
    width: 20px;
    height: 60px;
    color: #000000;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    background-image: url("../images/preview.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.button-slider-next {
    transform: rotate(180deg);
}

.button-slider:hover {
    opacity: 0.6;
}

.button-slider:active {
    opacity: 0.3;
}

.button-slider:focus {
    outline: 2px solid #AF4FFF;
}

.gallery_content {
    position: relative;
    padding-top: 18px;
}

.button-indicator {
    width: 12px;
    height: 12px;
    padding: 0;
    background-color: #dbdbdb;
    border: 2px solid #000000;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    outline: 0;
    display: inline-block;
}

.slider-indicator-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 76px;
    height: 12px;
    position: absolute;
    right: 3px;
    bottom: 190px;
}

.slider-indicator-one {
    background-color: #000000;
}

.button-indicator:hover {
    opacity: 0.6;
}

.button-indicator:active {
    opacity: 0.3;
}

.button-indicator:focus {
    outline: 2px solid #AF4FFF;
}

.gallery-content-description {
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    color: #444444;
    display: block;
    margin-bottom: 61px;
}

.gallery-content-title {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    margin-top: 100px;
}

.button-detailes {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 59px;
    z-index: 0;
    display: inline-block;
    padding: 15px 20px;
    width: 220px;
    vertical-align: middle;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}

.button-detailes::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 220px;
    height: 8px;
    background-color: #FFE17F;
    transition: height .3s ease-in-out;
}

.button-detailes:hover {
    background: #FFE17F;
}

.button-detailes:active {
    background: #FFCC33;
}

.button-detailes:active.button-detailes::before {
    display: none;
}

.button-detailes:focus {
    outline: 2px solid #AF4FFF;
}

.table-value {
    font-weight: normal;
    font-size: 36px;
    line-height: 30px;
}

.table-value td {
    padding-right: 58px;
}

.table-name {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #444444;
}

.table-name td {
    padding-right: 20px;
}

.table-parametres {
    padding-top: 12px;
}

/* -Categories */

.catalog {
    margin-bottom: 70px;
}

.category-list {
    display: grid;
    grid-template-columns: repeat(6, 160px);
    gap: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    padding-left: 0;
}

.category-item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 33px;
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
}

.category-item-link {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #000000;
    text-decoration: none;
}

.category-item-wrapper:hover {
    background: #FFC700;
}

.category-item-wrapper:active,
.category-item-link:active {
    opacity: 0.3;
}

/* -Services/advantages */

.advantages {
    background-image: linear-gradient(180deg, #ffffff 115px, #F0F0F0 115px);
}

.advantages-wrapper {
    margin-bottom: 30px;
    padding-bottom: 67px;
    display: grid;
    grid-template-columns: 284px 800px;
    column-gap: 76px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 1160px;
}

.services-wrapper {
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 35px;
    box-sizing: border-box;
    border-right: 7px solid #000;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 284px;
}

.advantages-title {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.advantages-button-current {
    width: 280px;
    background: #000000;
    text-align: left;
    height: 40px;
    color: #FFE17F;
    border: none;
    padding-left: 20px;
    cursor: pointer;
}

.advantages-button::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 160px;
    height: 8px;
    background-color: #FFE17F;
    transition: height .3s ease-in-out;
}

.advantages-button {
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    border: 0;
    padding: 9px 20px;
    width: 277px;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: .2em;
    text-transform: uppercase;
    cursor: pointer;
    text-align: left;
}

.advantages-title-credit {
    margin-left: 15px;
}

.advantages-button:hover {
    background: #FFE17F;
}

.advantages-button:active.advantages-button::before {
    display: none;
}

.advantages-button:active {
    color: #FFE17F;
    background: #000000;
}

.advantages-button-current:hover {
    opacity: 0.6;
}

.advantages-button-current:active {
    opacity: 0.3;
}

.advantages-button-current:focus {
    outline: 2px solid #AF4FFF;
}

.service-desrciption {
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    width: 448px;
}

.services-info {
    width: 580px;
}

.services-title {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin-top: 40px;
    margin-bottom: 40px
}

.service-list-item {
    position: relative;
    padding: 30px 40px 30px 0;
}

.service-list-item-current::after {
    background-image: url(../images/main-running-man.svg);
    background-size: 136px 164px;
    content: "";
    position: absolute;
    top: 52px;
    right: 20px;
    width: 180px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

.service-list-item-garanty::after {
    background-image: url(../images/main-garanty.svg);
    background-size: 136px 164px;
    content: "";
    position: absolute;
    top: 52px;
    right: 20px;
    width: 180px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

.service-list-item-credit::after {
    background-image: url(../images/main-credit.svg);
    background-size: 136px 164px;
    content: "";
    position: absolute;
    top: 52px;
    right: 20px;
    width: 180px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

.service-list-item-credit,
.service-list-item-garanty {
    display: none;
}

/* Delivery */

.delivery-information {
    display: grid;
    grid-template-columns: 125px 910px 125px;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
    cursor: pointer;
}

.delivery-image {
    background: #FFE17F;
    height: 100px;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delivery-desrciption {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background: #F0F0F0;
    height: 100px;
    width: 1035px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delivery-link {
    display: flex;
    justify-content: center;
    position: relative;
}

.link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    width: 40px;
    height: 40px;
    background: rgba(220, 220, 220, 0.5);
    border-radius: 50%;
    opacity: 0.3;
}

.modal-link {
    text-decoration: none;
    color: #000000;
}

.delivery-information:hover .delivery-image {
    background: #FFC700;
}

.delivery-information:hover .link-wrapper {
    opacity: 1;
} 

.delivery-information:active {
    opacity: 0.3;
}

.delivery-information:focus {
    outline: 2px solid #AF4FFF;
}

/* -About&Contacts */

.about-company {
    margin: 0 auto;
    width: 1160px;
}

.about-company-wrapper {
    display: grid;
    grid-template-columns: 520px 532px;
    column-gap: 108px;
    margin-bottom: 80px;
}

.about,
.contacts {
    position: relative;
}

.about::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 7px;
    background-color: #000000;
}

.contacts::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 7px;
    background-color: #000000;
}

.about-title,
.contacts-title {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 48px;
    margin-top: 40px;
}

.contacts-phone {
    color: #000000;
}

.contacts-address {
    margin-bottom: 30px;
}

.contacts-adress-text {
    margin-bottom: 0;
}

.about-text,
.about-companies,
.contacts-information,
.contacts-adress-text,
.contacts-schedule-item {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.about-text,
.about-companies,
.contacts-information {
    margin-bottom: 30px;
    margin-top: 0;
}

.button-about,
.button-feedback {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2em;
    line-height: 21px;
    color: #000000;
    z-index: 0;
    display: inline-block;
    background-color: transparent;
    position: relative;
    padding: 11px 20px;
}

.button-about::before,
.button-feedback::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 8px;
    background-color: #FFE17F;
    transition: height .3s ease-in-out;
}

.button-about:hover,
.button-feedback:hover {
    background: #FFE17F;
}

.button-about:active,
.button-feedback:active {
    background: #FFCC33;
}

.button-about:active.button-about::before,
.button-feedback:active.button-feedback::before {
    display: none;
}

.button-about:focus,
.button-feedback:focus {
    outline: 2px solid #AF4FFF;
}

.companies-list {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #FFE17F;
    margin-bottom: 40px;
    margin-top: 0;
}

.company-item {
    color: #000000;
}

.contacts-schedule {
    margin-bottom: 40px;
}

.transport-company {
    margin-bottom: 19px;
}

/* -Feedback */

.newsletter-wrapper {
    margin: 0 auto;
    width: 1160px;
    padding: 0;
}

.newsletter {
    background: #F0F0F0;
    padding: 0;
}

.subscription {
    display: grid;
    grid-template-columns: 400px 525px;
    column-gap: 180px;
    align-items: center;
    padding-top: 64px;
    margin-bottom: 144px;
}

.newsletter-text {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
}

.newsletter-title {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
}

.newsletter-button {
    font-family: "Raleway", "Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding: 18px 39px;
    height: 57px;
    border: 3px solid #C4C4C4;
    position: absolute;
}

.newsletter-field {
    box-sizing: border-box;
    padding: 17px 38px;
    border: 0px;
    border-bottom: 3px solid #C4C4C4;
    width: 557px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    background-color: transparent;
    position: relative;
}

.newsletter-field:active.newsletter-field::placeholder {
    color: #000000;
    opacity: 1;
}

.newsletter-field:active {
    background: #DCDCDC;
}

.newsletter-field:focus {
    outline: 2px solid #AF4FFF;
}

.send-letter {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 56px;
}

.free-of-charge {
    background-image: url(../images/main-check-mark.svg);
    background-size: 14px 14px;
    padding: 26px;
    background-repeat: no-repeat;
    background-position: 0 50%;
}

/* Footer */

.page-footer {
    padding: 0;
    background: #444444;
}

.footer-wrapper {
    margin: 0 auto;
    padding-top: 62px;
    padding-bottom: 61px;
    width: 1160px;
}

.footer-contacts-address {
    font-weight: normal;
    color: #FFFFFF;
    margin-bottom: 64px;
    width: 250px;
    font-style: normal;
    font-weight: normal;
}

.footer-logo {
    display: block;
    margin-bottom: 35px;
}

.footer-logo:hover .footer-logo-image,
.footer-copyright-link:hover .footer-copyright-icon {
    opacity: 0.6;
}

.footer-logo:active .footer-logo-image,
.footer-copyright-link:active .footer-copyright-icon {
    opacity: 0.3;
}

.footer-logo:focus .footer-logo-image,
.footer-copyright-link:focus .footer-copyright-icon {
    outline: 2px solid #AF4FFF;
}

.footer-social-list {
    display: flex;
    justify-content: space-between;
    width: 150px;
    padding: 0;
    margin: 0 auto;
}

.footer-contacts-link {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-container-first {
    display: grid;
    grid-template-columns: 280px 560px 280px;
    column-gap: 20px;
    margin-bottom: 47px;
    min-height: 30px;
    margin: 0 auto;
}

.footer-contacts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-left: 0;
}

.footer-contacts-item {
    margin-left: 16px;
    margin-right: 16px;
}

.footer-container-second {
    display: grid;
    grid-template-columns: 280px 560px 280px;
    column-gap: 20px;
    align-items: center;
    margin: 0 auto;
}

.footer-container-second::before {
    content: "";
    left: 0;
    width: 80px;
    height: 7px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FFC500;
}

.footer-phone {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    justify-self: end;
}

.footer-copyright-link {
    justify-self: end;
}

.footer-social-icon {
    border-radius: 50%;
}

.footer-link:hover .footer-social-icon {
    background: #FFC700;
}

.footer-link:active .footer-social-icon {
    background: #FFC700;
    opacity: 0.3;
}

.footer-link:focus .footer-social-icon {
    outline: 2px solid #AF4FFF;
}

.footer-contacts-link:hover,
.footer-phone:hover {
    color: #FFC700;
}

.footer-contacts-link:active,
.footer-phone:active {
    color: #FFC700;
    opacity: 0.3;
}

.footer-contacts-link:focus,
.footer-phone:focus {
    outline: 2px solid #AF4FFF;
}

/* catalog-page */

/* -Breadcrumbs */

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
    margin-top: 0;
    padding-left: 0;
}

.breadcrumbs-link {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #000000;
}

.breadcrumbs-item {
    padding-right: 18px;
}

.breadcrumbs-item:not(:first-child) {
    padding-left: 18px;
}

.breadcrumbs-item:not(:last-child) {
    background-image: url(../images/breadcrumbs.svg);
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

.breadcrumbs-item:not(:last-child):hover {
    color: #000000;
    opacity: 0.6;
}

.breadcrumbs-item:not(:last-child):active {
    color: #000000;
    opacity: 0.3;
}

.breadcrumbs-item:not(:last-child):focus {
    color: #000000;
    outline: 2px solid #AF4FFF;
} 

/* -filter-menu */

.control-input {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.button-filter {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    border: 0;
    padding: 11px 20px;
    width: 210px;
}

.button-filter::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 8px;
    background-color: #FFE17F;
    transition: height .3s ease-in-out;
}

.button-filter:hover {
    background: #FFE17F;
}

.button-filter:active {
    background: #FFCC33;
}

.button-filter:active.button-filter::before {
    display: none;
}

.button-filter:focus {
    outline: 2px solid #AF4FFF;
}

.filter {
    box-sizing: border-box;
    padding: 0px 60px 70px 60px;
}

.catalog-filter {
    width: 320px;
}

.catalog-filter-group,
.catalog-filter-group-color,
.catalog-filter-group-bluetooth {
    position: relative;
    margin: 16px 0 22px;
    padding: 30px 0 20px;
    border: none;
}

.catalog-filter-group::before {
    content: "";
    position: absolute;
    width: 200px;
    left: 0;
    right: 0;
    top: -40px;
    height: 2px;
    background-color: #000000;
}

.slider {
    appearance: none;
    width: 200px;
    background: #000000;
    outline: none;
}

/* -Range */

.range-scale {
    position: relative;
    height: 2px;
    margin-bottom: 16px;
    background-color: #DCDCDC;
    border-radius: 2px;
}

.range-bar {
    position: relative;
    height: 2px;
    background-color: #000000;
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #EBEBEB;
    border: 2px solid #000000;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
}

.range-toggle:hover {
    border-color: #696868;
}

.range-toggle:active {
    background-color: #000000;
}

.range-toggle:focus {
    background-color: #000000;
    outline: 2px solid #AF4FFF;
} 

.toggle-min {
    top: -8px;
    left: -1px;
}

.toggle-max {
    top: -8px;
    right: -10px;
}

.range-wrapper-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    opacity: 0.3;
}

.range-input {
    padding-left: 5px;
}

.catalog-filter-label {
    display: flex;
    margin-right: 5px;
}

.range-input {
    width: 60px;
    box-sizing: border-box;
    border: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

/* Control */
.control {
    position: relative;
    display: flex;
    padding-left: 36px;
    align-items: center;
    padding-top: 6px;
}


/* Mark */
.control-mark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #CCCCCC;
    border-radius: 3px;
}

.control-mark-checked {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #000000;
    border-radius: 3px;
}

.control-label,
.control-label-radio {
    cursor: pointer;
}

.control:hover .control-mark,
.control:hover .control-label,
.control-label-radio:hover {
    opacity: 0.6;
}

.control:active .control-mark,
.control:hover .control-label,
.control-label-radio:active {
    opacity: 0.3;
}

.control-input[type="checkbox"]:checked+.control-mark::before {
    position: absolute;
    top: 9px;
    left: 3px;
    width: 4px;
    height: 2px;
    background-color: #000000;
    content: "";
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.control-input[type="checkbox"]:checked+.control-mark::after {
    position: absolute;
    top: 8px;
    left: 5px;
    width: 11px;
    height: 2px;
    background-color: #000000;
    content: "";
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.control-input[type="checkbox"]:checked+.control-mark::before {
    transform: rotate(45deg);
}

.control-input[type="checkbox"]:checked+.control-mark::after {
    transform: rotate(-45deg);
}

.control-input[type="radio"]+.control-mark {
    border-radius: 50%;
}

.control-input[type="radio"]:checked+.control-mark::before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    background-color: #000000;
    border-radius: 50%;
    content: "";
}

.control-mark-radio-checked {
    border: 2px solid #000000;
}

/* -Catalog-list */

.inner-header-title {
    font-family: "Raleway", "Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin-top: 35px;
    margin-bottom: 16px;
}

.catalog-container {
    background: #F0F0F0;
}

.breadcrumbs-container {
    width: 1100px;
    margin: 0 auto;
    padding-left: 60px;
}

.catalog-wrapper {
    display: flex;
    width: 1160px;
    margin: 0 auto;
}

.sorting {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 40px;
    min-height: 70px;
}

.catalog-filter-title,
.sorting-title {
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.catalog-filter-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.catalog-filter-item {
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
}

.catalog-filter-header {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 60px;
    min-height: 70px;
    margin-right: 200px;
    margin-bottom: 60px;
}

.catalog-filter-list {
    width: 200px;
    padding: 0;
    margin: 0;
    display: grid;
    row-gap: 18px;
    grid-template-rows: 20px
}

.select-control {
    background: #F0F0F0;
    min-width: 160px;
    height: 30px;
    border: 0;
    font-size: 18px;
    line-height: 30px;
}

.sorting-direction-list {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding-left: 0;
    width: 60px;
}

.sorting-direction-item {
    margin-left: 22px;
}

.sorting-direction-link {
    display: flex;
    width: 0;
    height: 0;
    border-left: 5.5px solid transparent;
    border-right: 5.5px solid transparent;
    border-bottom: 10px solid rgba(0, 0, 0, .2);
}

.sorting-direction-link-transform {
    transform: rotate(180deg);
}

.sorting-direction-link:hover {
    border-bottom: 10px solid rgba(0, 0, 0, .6);
}

.sorting-direction-link:active {
    border-bottom: 10px solid #000000;
}

.sorting-direction-link:focus {
    outline: 2px solid #AF4FFF;
}

.product-list {
    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
    padding: 70px 40px 24px 40px;
    width: 840px;
    column-gap: 40px;
    row-gap: 24px;
    margin: 0;
}

.product-list-container {
    background: #FFFFFF;
    padding-bottom: 78px;
}

.product-card {
    display: grid;
    grid-template-rows: 380px min-content;
    row-gap: 10px;
    width: 360px;
    min-height: 452px;
}

.product-card-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
    width: 230px;
}

.product-card-description {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 20px;
    padding-bottom: 20px;
}

.product-card-link,
.pagination-show-more,
.pagination-link {
    text-decoration: none;
}

.popap-product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: 1/2;
    grid-column: 1/-1;
    width: 360px;
    height: 380px;
    background: rgba(240, 240, 240, 0.8);
    visibility: hidden;
    position: absolute;
}

.popap-product-details {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 0;
    display: inline-block;
    padding: 11px 20px;
    width: 220px;
    vertical-align: middle;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}

.popap-product-details::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 220px;
    height: 8px;
    background-color: #FFE17F;
    transition: height .3s ease-in-out;
}

.popap-product-details:hover {
    background: #FFE17F;
}

.popap-product-details:active {
    background: #FFCC33;
}

.popap-product-details:active.popap-product-details::before {
    display: none;
}

.popap-product-details:focus {
    outline: 2px solid #AF4FFF;
}

.product-card:hover .popap-product-card {
    visibility: visible;
}

/* -Pagination */

.button-show-more {
    border: #F0F0F0 solid;
    width: 760px;
    margin: 0px 40px 44px 40px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-show-more:hover {
    background: #000000;
}

.button-show-more:hover .pagination-show-more {
    color: #ffffff;
}

.button-show-more:active .pagination-show-more {
    color: #ffffff;
    opacity: 0.3;
}

.button-show-more:focus {
    outline: 2px solid #AF4FFF;
}

.pagination {
    display: grid;
    grid-template-columns: 128px 1fr 141px;
    min-height: 70px;
    background: #F0F0F0;
    margin-left: 40px;
    margin-right: 40px;
}

.pagination-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 490px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #444444;
    padding: 0;
}

.pagination-item {
    margin-left: 15px;
    margin-right: 15px;
}

.pagination-show-more {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    display: block;
}

.pagination-link {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #444444;
    opacity: 0.3;
}

.pagination-link:hover {
    color: #000000;
    opacity: 0.6;
}

.pagination-link:active {
    color: #444444;
    opacity: 0.1;
}

.pagination-link:focus {
    outline: 2px solid #AF4FFF;
}

.pagination-prev,
.pagination-next {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.pagination-prev:hover,
.pagination-next:hover {
    background: #DCDCDC;
}

.pagination-prev:active,
.pagination-next:active {
    opacity: 0.3;
}

.pagination-prev:focus,
.pagination-next:focus {
    outline: 2px solid #AF4FFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style-type: none;
}

/* Modal window */

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 240, 240, 0.9);
}

.modal {
    position: relative;
    margin: auto;
    padding: 72px 80px 82px 80px;
    background-color: #ffffff;
    border: 10px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.modal-delivery {
    width: 920px;
}

.modal-content {
    position: relative;
}

.modal-close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 26px;
    height: 26px;
    background-color: #ffffff;
    border: none;
    background-image: url("../images/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.modal-close-button:hover {
    opacity: 0.6;
}

.modal-close-button:active {
    opacity: 0.3;
}

.modal-close-button:focus {
    outline: 2px solid #AF4FFF;
}

.modal-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 42px;
}

.delivery-form-one {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    column-gap: 40px;
    margin-bottom: 62px;
}

.delivery-form-two {
    display: grid;
    grid-template-columns: 520px 180px;
    column-gap: 40px;
    margin-bottom: 52px;
}

.field-group {
    display: grid;
    margin: 0;
}

.field-group-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 14px;
}

.auth-form-field,
.name-form-field,
.mail-form-field {
    border: none;
    padding: 20px 35px 20px 20px;
    min-height: 60px;
    background-color: #F0F0F0;
}

.modal-information-icon {
    display: flex;
    margin: 0 auto;
    margin-top: 6px;
}

.modal-button-send {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    position: relative;
    border: none;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 0;
    display: inline-block;
    padding: 10px 5px;
    width: 200px;
    vertical-align: middle;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
}

.modal-button-send::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: 8px;
    background-color: #FFE17F;
    transition: height .3s ease-in-out;
}

.modal-button-send:hover {
    background: #FFE17F;
}

.modal-button-send:active {
    background: #FFCC33;
}

.modal-button-send:active.modal-button-send::before {
    display: none;
}

.modal-button-send:focus {
    outline: 2px solid #AF4FFF;
}

.modal-button {
    border: none;
    width: 60px;
    height: 60px;
    padding: 0;
}

.modal-button-minus {
    padding-bottom: 8px;
}

.modal-button:hover {
    background: #EBEBEB;
}

.modal-button:active {
    opacity: 0.3;
}

.modal-button:focus {
    outline: 2px solid #AF4FFF;
}

.modal-button:invalid {
    border: 2px solid #FF3D3D;
}

.modal-counter {
    display: flex;
    justify-content: center;
    margin-top: 14px;
    position: relative;
}

.modal-amount {
    width: 60px;
    height: 60px;
    background: #F0F0F0;
    border: none;
    text-align: center;
    padding: 0;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.name-form-field {
    box-sizing: border-box;
    background-image: url(../images/modal-user.svg);
    background-repeat: no-repeat;
    background-position: 320px center;
}

.mail-form-field {
    box-sizing: border-box;
    background-image: url(../images/modal-mail.svg);
    background-repeat: no-repeat;
    background-position: 316px center;
}

.field:hover {
    background: #DCDCDC;
}

.mail-form-field:hover {
    background-image: url(../images/modal-mail.svg);
    background-repeat: no-repeat;
    background-position: 316px center;
}

.name-form-field:hover {
    background-image: url(../images/modal-user.svg);
    background-repeat: no-repeat;
    background-position: 320px center;
}

.mail-form-field:invalid {
    border: 2px solid #FF3D3D;
}

.field:active.field::placeholder {
    color: #000000;
    opacity: 1;
}

.field:focus {
    outline: 2px solid #AF4FFF;
}

.mistake-notification {
    color: #FF3D3D;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    bottom: 56%;
}

#email::placeholder {
    color: #000000;
}

.modal-container-close {
    display: none;
}

.tooltip {
    position: absolute;
    width: 200px;
    height: 160px;
    transform: translateX(5%);
} 

.tooltip-text {
    background-color: #000000;
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 19px 17px 19px 17px;
    display: block;
    width: 160px;
    right: 30px;
    top: -60px;
    position: absolute;
    z-index: 1; 
    display: none; 
}

.tooltip-text::after {
    content: '';
    background-image: url("../images/tooltip-arrow.svg");
    width: 14px;
    height: 6px;
    position: absolute;
    top: -5px;
    left: 80px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.tooltip-toggle {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    position: absolute; 
    right: 60px;
    top: -100px; 
    cursor: pointer;
}

.tooltip-icon {
    width: 100%;
    height: 100%;
    color: #242424;
    display: block;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}