@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2 format") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", "Verdana", sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: #FFFFFF;
    color: #000000;
}

.navigation {
    /* display: flex; */
    margin: 0 auto;
    color: #000000;
    background: #FFE17F;
    width: 1160px;
}

.navigation-container-first,
.navigation-container-second {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.navigation-list-first,
.navigation-list-second,
.navigation-item-user,
.navigation-list-information {
    margin: 0;
    padding: 0 60px;
}

.navigation-list-information {
    padding: 0 59px;
}

.navigation-list-user {
    width: 241px;
    margin-left: auto;
}

.navigation-list-first {
    width: 748px;
}

.navigation-list-catalog {
    width: 569px;
}

.navigation-list-information {
    width: 471px;
    margin-left: auto;
}

.navigation-link {
    color: #000000;
    line-height: 18px;
    line-height: 30px;
    text-decoration: none;
}

.logo {
    display: block;
    margin: 0;
    padding: 0 60px;
}

.visually-hidden {
    display: none;
}

.list {
    list-style-type: none;
} 

.basket {
    line-height: 14px;
    line-height: 16.59px;
}

.navigation-link-second {
    font-family: "Raleway", "Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.number-one {
    font-weight: bold;
    font-size: 180px;
    line-height: 30px;
    color: #FFFFFF;
    align-items: center;
    text-align: right;
    margin-right: 60px;
}

.page-container {
    width: 1160px;
    margin: 0 auto;
}

.main-container {
    flex-grow: 1;
}

.gallery {
    width: 1160px;
}

.gallery-container,
.gallery-slider {
    display: flex;
    justify-content: space-between;
}

.quadrocopter-advantages {
    margin-left: 40px;
}

.quadrocopter-advantages b {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.quadrocopter-desrciption {
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    color: #444444;
}

.quadrocopter-details {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
}

.table-value {
    font-weight: normal;
    font-size: 36px;
    line-height: 30px;
}

.table-name {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #444444;
}

.category-link {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #000000;
    text-decoration: none;
}

.category-image,
.delivery-icon {
    margin: auto;
}

.category-item {
    height: 160px;
    width: 160px;
    background: #FFE17F;
    text-align: center;
    display: flex;
}

.category-container {
    padding: 0 140px;
    width: 1160px;
}

.category-list {
    display: flex;
    justify-content: space-between;
}

.category {
    width: 160px;
    text-align: center;
}

.advantages {
    width: 1440px;
    background: #F0F0F0;
    margin: 0;
}

.advantages-title {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.advantages-button-current {
    width: 280px;
    background: #000000;
    text-align: left;
    height: 40px;
}

.advantages-title-delivery {
    color: #FFE17F;
}

.advantages-desrciption {
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.delivery {
    display: flex;
    margin: 0 auto;
}

.advantages-delivery {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.delivery-information {
    display: flex;
    width: 1160px;
    height: 100px;
    margin-top: 70px;
    padding: 0 140px;
}

.delivery-image {
    background: #FFE17F;
    height: 100px;
    width: 125px;
    text-align: center;
    display: flex;
}

.delivery-desrciption {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background: #F0F0F0;
    height: 100px;
    width: 1035px;
}

.about-title,
.contacts-title {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.about-text,
.about-companies,
.contacts-information,
.contacts-adress-text,
.contacts-schedule-item {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.companies-list {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color:#FFE17F;
}

.company-item {
    color:#000000;
}

.newsletter {
    background: #F0F0F0;
    width: 1440px;
    padding: 0;
}

.subscription {
    display: flex;
    margin: 0 auto;
}

.newsletter-text {
    width: 560px; 
    margin-right: 133px;
}

.send-letter {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 141px;

}

.page-footer-title {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    width: 600px; 
    margin-left: 147px;
}

.page-footer {
    background: #444444;
    width: 1440px;
    margin: 0 auto;
}

.footer-contacts-address {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.footer-contacts-link {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-container-first,
.footer-container-second {
    display: flex;
    justify-content: space-between;
    padding: 0 141px;
}

.button-about,
.button-feedback {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.about-company {
    display: flex;
    justify-content: space-between;
    padding: 0 140px;
    width: 1160px;  
}

.footer-phone {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.control-input,
.control-input {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.button-filter {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.breadcrumbs-link {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

.catalog-products,
.sorting {
    background: #F0F0F0;
}

.product-card-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
}

.product-card-link,
.pagination-show-more,
.pagination-link {
    text-decoration: none;
}

.show-more {
    border: #F0F0F0 solid;
}

.pagination-show-more {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    display: block;
}

.pagination-sector {
    background: #EBEBEB;
}

.pagination-link {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #444444;
}

.pagination-prev,
.pagination-next {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}